.profile__friends{
    padding: 0px 10px 10px 10px;
    margin-top: 14%;
}
.friends__header{
    padding: 0px 0px 0px 8px;
}
.friends__body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
}
.friends__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 70px;
}
.friends__item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}