.navBar{
    min-width: 20%;
    background: rgb(213, 235, 238);
    font-size: 1.55em;
}
.navBar a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}
.navBar ul{
    padding: 0px 0px 0px 10px;
}
.navBar__list li{
    border-radius: 10px;
    transition: 1s;
    list-style: none;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 15px 0px;
}
.navBar__listActive{
    background: rgb(255, 255, 255);
}
