.data__text{
    margin: 0px 0px 0px 0px;
}

.data__forms{
    margin: 0px 0px 0px 0px;
    line-height: 170%;
}
.contacts__forms{
    display: flex;
}
.forms__key{
    min-width: 157px;
}
.contact__itemText{
    min-width: 157px;
}
.contact__itemWrap{
    display: flex;
}
.contact_item{
    padding: 0px;
    margin: 0px;
    height: 20px;
}
.data__description ul{
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    line-height: 170%;
}
.data__description span{
    display: inline-block;
    width: 152px;
}
.hidden__contacts{
    display: none;
}
.show__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    height: 30px;
    margin: 0px 0px 8px 0px;
    &:hover{
        background: #dbe6f4e9;
        transition: 0.8s;
        font-size: 1.1em;
    }
}
.contact__formsHidden{
    display: none;
}
.contact__container{
    display: flex;
    min-height: 30px;
}
.contact__key{
    min-width: 157px;
    font-weight: 600;
}