.profile__face{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 33%;
    margin: 0px 0px 0px 0px;
}
.profile__faceIMG{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile__faceIMG img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 10px 0px 0px 0px;
}
.photo__inputShow{
    color: rgb(92, 1, 212);
    margin: 0px 0px 0px 10px;
    max-width: 93%;
}
.photo__inputHidden{
    display: none;
}
.photo__update{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 40px;
}
.photo__update:hover{
    background: #bdcce0e9;
    font-size: 1.1em;
    transition-duration: 1s;
}
.profile__following{
    padding: 8px 0px;
    margin: 10px 10px;
    background: #e9edf3e9;
    border-radius: 10px;
    height: 25px;
}
.profile__following:hover{
    background: #a6b6cde9;
    font-size: 1.2em;
    transition-duration: 1s;
}
.profile__follow{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}
.photo__updateText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #e9edf3e9;
    border-radius: 15px;
}
.profile__writeMessage{
    border: none;
    padding: 8px 0px;
    margin: 10px 10px;
    background: #e9edf3e9;
    border-radius: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 92.5%;
}
.profile__writeMessage span{
    color: black;
    border-bottom: none;
}
.profile__face a{
    text-decoration-color: black;
}