.dialogs{
    width: 100%;
    background: rgb(213, 235, 238);
    padding: 10px 0px;
    max-height: 680px;
}
.dialogs__messages{
    padding: 0px 15px 10px 15px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}
.messages__myWrap{
    display: flex;
    justify-content: flex-end;
    margin: 7px 0px 0px 0px;
}
.messages__friendWrap{
    display: flex;
    justify-content: flex-start;
    margin: 7px 0px 0px 0px;
}
.messages__my{
    display: inline-block;
    padding: 2px 10px;
    max-width: 70%;
    border-radius: 10px;
    color: white;
    background: rgb(111, 111, 227);
}
.messages__friend{
    display: flex;
    justify-content: flex-start;
    display: inline-block;
    padding: 2px 10px;
    max-width: 70%;
    border-radius: 10px;
    color: white;
    background: rgb(176, 176, 237);
}
.messages__input{
    display: flex;
    align-items: flex-end;
    padding: 15px;
    margin: auto 0px;
}
.input__area{
    width: 90%;
    min-height: 45px;
    max-height: 150px;
    font-size: 1em;
    background: rgb(227, 239, 241);
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid gray;
}
.messages__input button{
    display: flex;
    align-items: center;
    background: rgb(213, 235, 238);
    border: none;
    min-height: 52px;
    box-shadow: none;
    border-radius: none;
}
.messages__input button svg{
    color: rgb(167, 167, 230);
    width: 43px;
    height: 43px;
}
.dialogs__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
}
.dialogs__header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.dialogs__headerAvatar{
    margin: 0px 15px 0px 0px;
}
.dialogs__headerName{
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 0px;
    margin-left: 15px;
}
.dialogs__messagesZero{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.65em;
    min-height: 200px;
}
#dialogs__name{
    color: black;
    text-decoration: black;
    border-bottom: 0px;
}