.chat{
    width: 100%;
    background: rgb(213, 235, 238);
    color: black;
    padding: 10px 0px 0px 0px;
    &__messages{
        margin: 0px 0px 0px 3%;
        overflow-y: scroll;
        height: 500px;
    }
}
.messages__item{
    display: flex;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(101, 96, 96, 0.613);
    img{
        margin: 10px 0px 0px 0px;
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
    .messages__body{
        margin: 0px 0px 0px 3%;
        line-height: 170%;
    }
}
.chat__input{
    margin: 10px 0px 10px 3%;
    display: flex;
    align-items: flex-end;
    textarea{
        height: 100px;
        width: 200px;
        border-radius: 10px;
        padding: 5px;
    }
    button{
        height: 28px;
        width: 55px;
        border-radius: 8px;
        padding: 0px;
    }
}