.container{
  font-size: 1.1em;
  display: flex;
  width: 1000px;
  margin: 0px auto;
}
.test{
  width: 100%;
  background: black;
  color: white;
}
/* button{
  font-size: 0.8em;
  min-height: 25px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  border-radius: 10px;
} */
button{
  height: 30px;
  color: #fff;
  border-radius: 10px;
  padding: 0px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: linear-gradient(45deg, rgb(23, 65, 171), purple);
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}