.users{
    background: rgb(227, 239, 241);
    width: 100%;
    padding-top: 10px;
}
.users__itemWrap{
    margin: 0px 0px 0px 3%;
}
.users__item{
    display: flex;
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid black;
}
.user__photo img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.user__data{
    margin: 0px 0px 0px 20px;
    font-size: 1.2em;
}
.paginator{
    margin: 0px 10px 15px 3%;
    line-height: 170%;
}
.page__current{
    font-size: 1.2em;
    background: rgb(10, 214, 146);
    color: rgb(240, 240, 221);
}
.user__data{
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.users__filter{
    margin: 0px 10px 15px 3%;
}
